<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Triple A Extends</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://googledrive.com/host/0B-QKv6rUoIcGeHd6VV9JczlHUjg"></script><!-- holder.js link -->
    <script>
        $(document).ready(function() {
            $('#myCarousel').carousel('cycle');
            $('#myCarousel2').carousel('cycle');
        });
    </script>

    <!-- moblie-first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/main_body.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="entire">
    <div class="top">
        <div class="triple_a_top_logo">
            <h1 class="title_h1">
                <a href="/TAextends/main.html">
                    TripleA
                </a>
            </h1>
        </div>
        <div class="top_middle_search">
            <div class="top_search">
                <form id="top_search_form" name="top_search_form" method="get" action="/search.php">
                    <fieldset>
                        <legend>검색:</legend>
                        <div class="top_search_content">
                            <input type="text" class="top_search_insert" name="search" id="TA_search" title="검색어입력">
                            <button class="search_submit">
                                검색
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="top_left_menu">
            <div class="user_menu">
                <div class="account">
                    <a href="login.html">
                        LogIn
                    </a>
                    <a href="join.html">
                        Join
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="one">
    <div style="clear:both;"></div>
    <div class="main">
        <div class="main_content">
            <div class = "main_title">

            </div>
            <div class="main_content_top">
                    <div class="shopping_mall">
                        <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h2>쇼핑몰</h2></div>
                                <div class="panel-body">
                                    <ul>
                                        <li>11번가</li>
                                        <li>G마켓</li>
                                        <li>옥션</li>

                                    </ul>
                                </div>
                        </div>
                    </div>
                    <div class="used_article">
                        <div class="panel panel-info" >
                            <div class="panel-heading">
                                    <h2>중고</h2>
                                </div>
                                    <table class="table">
                                        <tr>
                                            <td>중고나라</td>
                                        </tr>
                                        <tr>
                                            <td>핼로마켓</td>
                                        </tr>
                                    </table>
                            </div>
                    </div>
                </div>

            </div>
            <div class="main_middle_content">
                <div class="main_showitem">
                    <div class="item_panel">
                        <ul class="item_list">
                            <li>
                                <div class="category_location">
                                    중고 > 중고나라
                                </div>
                                <div class="item_img">
                                    <a href="#" class="thumbnail">
                                        <img src="5.png" width="150" height="150" alt="">
                                    </a>
                                </div>
                                <div class="item_info">
                                    <div class="item_name">
                                        name
                                    </div>
                                    <div class="item_price">
                                        price
                                    </div>
                                </div>
                            </li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>