.item_wrap{
    display: block;
    width :215px;
    height : 305px;
    padding-right:20px;
    float:left;
    margin: 10px;
    border: 2px solid #ededef;
    border-radius: 10px;
}


.item_thumbnail{
    height : 210px;
    width : 210px;
    border-radius: 10px;
}

.item_title{
    display: block;
    color: grey;
    font-size: 16px;
}

.item_price{
    display: block;
    float: none;
    align-self: baseline;
    font-size : 12px;
    color: #ae0000;
}