.main_content_top{
    margin: 20px auto;
    width: 800px;
    height:500px;
}

.panel{
    width:400px;
    float: left;
}

.panel-heading{
    text-align: center;
    width:400px
}


.main_showitem .table > tr > td{
    width: 100px;
    height: 300px;
}


.shopping_mall .usedmall{
    float: left;
}

.item_list {
    width: 800px;
    line-height: 18px;
}

.item_list li {
    display: inline;
    overflow: hidden;
    float: left;
    height: 250px;
    width : 230px;
    margin: 13px 0 0 13px;
    border: 2px solid #ededef;
}

.thumbnail{
    position : relative;
    margin-bottom: 0px;
    width: 230px;
    height: 170px;
}

ul {
    list-style: none;
    font-size: 20px;
    padding-bottom: 15px;
}

