<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<div>
    <form method="post" action = "join">
        user_id : <input type="text" name="user_id"><br>
        user_pwd : <input type="password" name="user_pwd"><br>
        username : <input type="text" name="username"><br>
        addr : <input type="text" name="addr"><br>
        phone : <input type="number" name="phonenum"><br>
        <button type="submit" name="submit">submit!</button>
    </form>
</div>
</body>
</html>