<div class="board_view_area">
    <div class="board_view_form">
        <%
        var b_title = board_data[0].title;
        var b_content = board_data[0].content;
        %>
        <div>
            <H1><%=b_title%></H1>
        </div>
        <hr class="one">
        <div>
        <%-b_content%>
        </div>
    </div>
</div>