<div class = "main_title">
    <h1>
        Main_Title
    </h1>
</div>
<div class="board_view_area">
    <div class="board_view_form">
        <%
        var title = board_data.title;
        var content = board_data.content;
        %>
        <%-title%>
        <%-content%>
    </div>
</div>