<div class = "main_title">
    <h1>
        Main_Title
    </h1>
</div>
<div class="request_form_area">
    <div class="request_form">
        <form method="post" action = "/">
            <div class = "content_title">
                Title
                <div class="content_title_box">
                    <input type="text" name = "title" style="width:100%;">
                </div>
            </div>
            <div class>
                <div>
                Author
                </div>
                <div>
                    <input type="text" name = "author" style="width:30%;">
                </div>
            </div>
            <div class = "content_content">
                <div class ="content_name">
                    Content
                </div>
                <div class="content_box">
								<textarea name="editor1" class="ckeditor" rows="20" cols="100">
								</textarea>
                </div>
                <div class = "content_button_area" align="right">
                    <button type="button" name="cancel" action="">
                        Cancel
                    </button>
                    <button type="submit" name="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>