<link href="/stylesheets/main_body.css" rel="stylesheet" type="text/css">
<div class="main_content">
    <div class = "main_title">

    </div>
    <div class="main_content_top">
        <div class="shopping_mall">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>쇼핑몰</h2></div>
                <div class="panel-body">
                    <ul>
                        <li>11번가</li>
                        <li>G마켓</li>
                        <li>옥션</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="used_article">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h2>중고</h2>
                </div>
                <table class="table">
                    <tr>
                        <td>중고나라</td>
                    </tr>
                    <tr>
                        <td>핼로마켓</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="main_middle_content">
    <div class="main_showitem">
        <div class="item_panel">
            <ul class="item_list">
                <li>
                    <div class="category_location">
                        중고 > 중고나라
                    </div>
                    <div class="item_img">
                        <a href="#" class="thumbnail">

                        </a>
                    </div>
                    <div class="item_info">
                        <div class="item_name">
                            name
                        </div>
                        <div class="item_price">
                            price
                        </div>
                    </div>
                </li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
    </div>
</div>
