<link href="/stylesheets/main_body.css" rel="stylesheet" type="text/css">
<div class="main_content">
    <div class = "main_title">

    </div>
    <div class="main_content_top">
        <div class="shopping_mall">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>쇼핑몰</h2></div>
                <div class="panel-body">
                    <ul>
                        <li>11번가</li>
                        <li>G마켓</li>
                        <li>옥션</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="used_article">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <a href="/usedmall"><h2>중고</h2></a>
                </div>
                <table class="table">
                    <tr>
                        <td><a href="/usedmall/joongonara">중고나라</a></td>
                    </tr>

                    <tr>
                        <td><a href="/usedmall/hellomarket">헬로마켓</a></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>