<link href="/stylesheets/mypage.css" rel="stylesheet" type="text/css">
<div class="mypage_wrap">
    <div class="container-fluid">
        <div class="text-center">
            <h2>MyPage</h2>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h2>이용내역</h2>
                    </div>
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-list-alt logo"></span>
                        <h4>5 건의 이용내역이 있습니다.</h4>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h2>구매진행중</h2>
                    </div>
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-hourglass logo"></span>
                        <h4>2 건이 구매진행중에 있습니다.</h4>
                        <p></p>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <a href="/board_view">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h2>상담</h2>
                        </div>
                        <div class="panel-body">
                            <span class="glyphicon glyphicon-earphone logo"></span>
                            <h4>1 건이 상담중에 있습니다.</h4>
                            <p></p>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>