<link rel="stylesheet" href="/stylesheets/search_popup.css">
<script src="/javascripts/slider.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript">

 </script>
    <div class="search_popup_wrap" id="search_popup_wrap">
      <div class="usedmall">
          <div class="header" >
              중고
          </div>

          <div class="usedmall_left_btn" onclick="scroll_left()">
                  버튼
          </div>

          <div class="usedmall_item_list" id="usedmall_item_list">
              <div class="usedmall_item_wrap">
                  <div class="usedmall_item">
                      <a href="/usedmall/hellomarket">
                          <div class="img_wrap">
                              <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/07/09/3556_30303602_1.jpg">
                          </div>
                          <span class="item_title">다이어리</span>
                          <span class="item_price">20,000</span>
                      </a>
                  </div>
                  <div class="usedmall_item">
                      <a href="/usedmall/hellomarket">
                          <div class="img_wrap">
                              <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/07/09/3556_30303602_1.jpg">
                          </div>
                          <span class="item_title">제목2</span>
                          <span class="item_price">가격</span>
                      </a>
                  </div>
                  <div class="usedmall_item">
                      <a href="/usedmall/hellomarket">
                          <div class="img_wrap">
                              <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/07/09/3556_30303602_1.jpg">
                          </div>
                          <span class="item_title">제목3</span>
                          <span class="item_price">가격</span>
                      </a>
                  </div>
                  <div class="usedmall_item">
                      <a href="/usedmall/hellomarket">
                          <div class="img_wrap">
                              <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/07/09/3556_30303602_1.jpg">
                          </div>
                          <span class="item_title">제목4</span>
                          <span class="item_price">가격</span>
                      </a>
                  </div>
                  <div class="usedmall_item">
                      <a href="/usedmall/hellomarket">
                          <div class="img_wrap">
                              <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/07/09/3556_30303602_1.jpg">
                          </div>
                          <span class="item_title">제목5</span>
                          <span class="item_price">가격</span>
                      </a>
                  </div>
                  <div class="usedmall_item">
                      <a href="/usedmall/hellomarket">
                          <div class="img_wrap">
                              <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/07/09/3556_30303602_1.jpg">
                          </div>
                          <span class="item_title">제목3</span>
                          <span class="item_price">가격</span>
                      </a>
                  </div>

              </div>
          </div>
          <div class="usedmall_right_btn" onclick="scroll_right()">
              버튼
          </div>

      </div>
        <div class="shoppingmall">
            <div class="header">
                쇼핑몰/구매대행
            </div>
            <div class="shoppingmall_top_btn" onclick="scroll_up()">
                버튼
            </div>
            <div class="shopping_item_list" id="shopping_item_list">
                <div class="shopping_item_wrap">
                    <div class="shopping_item">
                        <div class="img_wrap">
                            <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/01/08/2132_29594349_1.jpg">
                        </div>
                        <span class="item_title"> 제목1 </span>
                        <span class="item_avg_price"> 가격</span>
                        <div class="buy_request_btn">구매요청</div>
                    </div>
                    <div class="shopping_item">
                        <div class="img_wrap">
                            <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/01/08/2132_29594349_1.jpg">
                        </div>
                        <span class="item_title"> 제목2 </span>
                        <span class="item_avg_price"> 가격</span>
                        <div class="buy_request_btn">구매요청</div>
                    </div>
                    <div class="shopping_item">
                        <div class="img_wrap">
                            <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/01/08/2132_29594349_1.jpg">
                        </div>
                        <span class="item_title"> 제목3 </span>
                        <span class="item_avg_price"> 가격</span>
                        <div class="buy_request_btn">구매요청</div>
                    </div>
                    <div class="shopping_item">
                        <div class="img_wrap">
                            <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/01/08/2132_29594349_1.jpg">
                        </div>
                        <span class="item_title"> 제목4 </span>
                        <span class="item_avg_price"> 가격</span>
                        <div class="buy_request_btn">구매요청</div>
                    </div>
                    <div class="shopping_item">
                        <div class="img_wrap">
                            <img class="item_thumbnail" src="//img.hellomarket.com/images/2016/item/s3/10/01/08/2132_29594349_1.jpg">
                        </div>
                        <span class="item_title"> 제목5 </span>
                        <span class="item_avg_price"> 가격</span>
                        <div class="buy_request_btn">구매요청</div>
                    </div>
                </div>
            </div>

            <div class="shoppingmall_button_btn" onclick="scroll_down()">
                버튼
            </div>

        </div>

    </div>
